*~
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
.DS_Store
CMakeScripts
Debug/
Release/
Win32/

crimild-emcc
/bin
/lib
*.xcuserdatad
/Testing
CTestTestfile.cmake
/crimild-emcc.app
crimild-emcc.xcodeproj
#*#
crimild-emcc.build

# visual studio files
*.vcxproj
*.vcxproj.filters
*.sln
*.dir/
/.vs
*.VC.opendb
*.VC.db

